<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend mr-1">
                <button class=" decrement-qty btn btn-sm button-orange rounded-pill" data-item_id="{{ item.item_id }}"
                    id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus-circle fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input orange border-orange rounded-pill" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item-id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append ml-1">
                <button class=" increment-qty btn btn-sm button-orange rounded-pill" data-item_id="{{ item.item_id }}"
                    id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus-circle fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-link rounded-pill border-orange px-1"><small>Update</small></a>
<a class="remove-item rounded-pill border-orange px-1 float-right"
    id="remove_{{ item.item_id }}"><small>Delete</small></a>