<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <h2 class="logo-font mb-3 mt-4 ml-3">Check out your wishlist below</h2>
    <span><a class="btn button-orange border-orange rounded-pill ml-3" href="{% url 'add_review' %}">Write a review</a></span>
    <span><a class="btn button-orange border-orange rounded-pill ml-3" href="{% url 'products' %}">Back to Shopping</a></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="row">
                    {% for product in list_items %}
                        <p>{{ product.name }}</p>
                    {% empty %}
                        <h3>You have no items in your wishlist</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}