<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <h2 class="logo-font mb-3 mt-4 ml-3">Check out your wishlist below</h2>
    <span><a class="btn button-orange border-orange rounded-pill ml-3" href="{% url 'add_review' %}">Write a review</a></span>
    <span><a class="btn button-orange border-orange rounded-pill ml-3" href="{% url 'products' %}">Back to Shopping</a></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="row">
                    {% for product in list_items %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2">
                            <div class="card h-100 border-orange">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0 orange">
                                    <p class="mb-0 text-center">{{ product.name }}</p>
                                </div>
                                <div class="card-footer orange text-center border-0">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0 text-center logo-font">€{{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="orange" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            <a class="btn btn-small button-orange border-orange rounded-pill mt-2" href="{% url 'remove_from_wishlist' product.id %}">
                                                <span class="icon">
                                                    <i class="fas fa-magic"></i>
                                                </span> 
                                                <span class="text-uppercase">Remove from wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h4 class="logo-font mb-3 mt-4 ml-3">You currently have no items in your wishlist</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}