.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form input::placeholder {
    color: #FA8620;
}

#profile-update-form .form-control {
    color: #FA8620;
    background: #000;
}