html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #FA8620;
    font-family: 'Poppins';
    height: calc(100vh - 164px);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo {
    width: fit-content;
}

.button-orange {
    color: #FA8620;
    background: #000;
}

.border-orange {
    border: 1px solid #FA8620 !important;
}

.get-shopping-button {
    min-width: 250px;
    color: #FA8620;
    background: #000;
}

.get-shopping-button:hover,
.get-shopping-button:active,
.get-shopping-button:focus,
.button-orange:hover,
.button-orange:active,
.button-orange:focus {
    background: #FA8620;
    color: #000;
}

.orange {
    color: #FA8620;
    background: #000;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: -1;
}

.btn-top {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.btn-top,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Toasts */

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 9999999999;
}

.toast-cap {
    height: 4px;
}

.bag-note-wrapper {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

