<div class="collapse navbar-collapse orange" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item orange">By Price</a>
                <a href="" class="dropdown-item orange">By Category</a>
                <a href="" class="dropdown-item orange">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5" href="#" id="plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personalised Plans
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="plans-link">
                <a href="" class="dropdown-item orange">Meal Plans</a>
                <a href="" class="dropdown-item orange">Exercise Plans</a>
                <a href="" class="dropdown-item orange">All Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="equipment-link">
                <a href="" class="dropdown-item orange">Weights</a>
                <a href="" class="dropdown-item orange">Accessories</a>
                <a href="" class="dropdown-item orange">All Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="nutrition-link">
                <a href="" class="dropdown-item orange">Food &amp; Drink</a>
                <a href="" class="dropdown-item orange">Suppliments</a>
                <a href="" class="dropdown-item orange">All Nutrition</a>
            </div>
        </li>

        <li>
            <a class="logo-font font-weight-bold nav-link button-orange mr-5" href="">
                Post a Review
            </a>
        </li>
    </ul>
</div>