<div class="collapse navbar-collapse orange" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5 rounded-pill" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item orange">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item orange">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item orange">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5 rounded-pill" href="#" id="plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personalised Plans
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="plans-link">
                <a href="{% url 'products' %}?category=meal_plans" class="dropdown-item orange">Meal Plans</a>
                <a href="{% url 'products' %}?category=exercise_plans" class="dropdown-item orange">Exercise Plans</a>
                <a href="{% url 'products' %}?category=meal_plans,exercise_plans" class="dropdown-item orange">All Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5 rounded-pill" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=weights" class="dropdown-item orange">Weights</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item orange">Accessories</a>
                <a href="{% url 'products' %}?category=weights,accessories" class="dropdown-item orange">All Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link button-orange mr-5 rounded-pill" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0 orange" aria-labelledby="nutrition-link">
                <a href="{% url 'products' %}?category=food_and_drink" class="dropdown-item orange">Food and Drink</a>
                <a href="{% url 'products' %}?category=suppliments" class="dropdown-item orange">Suppliments</a>
                <a href="{% url 'products' %}?category=food_and_drink,suppliments" class="dropdown-item orange">All Nutrition</a>
            </div>
        </li>

        <li>
            <a class="logo-font font-weight-bold nav-link button-orange mr-5 rounded-pill" href="">
                Post a Review
            </a>
        </li>
    </ul>
</div>